---
layout: category-archive
title: "Computational Projects"
permalink: /categories/computational/
---

{% assign filtered_projects = site.projects | where_exp: "item", "item.categories contains 'computational'" %}

{% if site.project_category %}
  {% assign title_shown = false %}
  {% for post in filtered_projects reversed %}
    {% unless title_shown %}
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  {% for post in filtered_projects reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
