---
layout: archive
title: "Talks and presentations"
permalink: /categories/talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign filtered_projects = site.projects | where_exp: "item", "item.categories contains 'talks'" %}

{% if site.project_category %}
  {% assign title_shown = false %}
  {% for post in filtered_projects reversed %}
    {% unless title_shown %}
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  {% for post in filtered_projects reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
